@import "./reset.css";

:root {
  --border-radius: 20px;
  --paragraph-font-size: 14px;
  --paragraph-line-height: 1.2;
  --paragraph-color: rgb(103, 103, 103);
  --gap: 20px;
  --svg-fill: rgb(211, 105, 67);
}

body {
  font-family: sans-serif;
  background-image: url("../images/bg.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.card-container {
  max-width: 430px;
  min-width: 350px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 25px 26px var(--svg-fill);
  transition: all 0.3s ease;
}

.card-container:hover,
.card-container:focus,
.card-container:active {
  scale: 1.05;
  box-shadow: 0px 0px 5px 6px var(--svg-fill);
}

.card {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

p {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
}

.card-header p {
  color: var(--paragraph-color);
}

.card-header svg {
  fill: var(--paragraph-color);
}

.card-foto {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 7px solid rgb(34, 47, 82);
}

.card-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.card-content h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.card-content p {
  text-align: center;
  line-height: 1.2;
  color: var(--paragraph-color);
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button a {
  text-decoration: none;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(69, 156, 250);
  color: white;
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  box-shadow: 0px 11px 14px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button a:hover,
.card-button a:focus,
.card-button a:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.card-footer {
  width: 100%;
  height: 100px;
  background-color: rgb(34, 47, 82);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card-footer-item {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  height: 100%;
  width: calc(100% / 3);
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid rgb(79, 79, 79);
}

.card-footer-item svg {
  fill: var(--svg-fill);
}

.card-footer-soc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-footer-soc-info p:first-child {
  color: var(--svg-fill);
}
