@import "./reset.css";

:root {
  font-family: sans-serif;
  --border-radius: 20px;
  --paragraph-font-size: 16px;
  --align: center;
  --paragraph-line-height: 1.2;
  --paragraph-color: rgb(103, 103, 103);
  --margin-bottom: 20px;
  --svg-fill: rgb(211, 105, 67);
}

.card-container {
  max-width: 480px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 30px 16px rgb(39, 85, 135);
  transition: all 0.3s ease;
}

.card-container:hover {
  scale: 1.05;
}

.card {
  padding: 40px 50px 30px;
}

.card-header {
  display: flex;
  align-items: var(--align);
  justify-content: var(--align);
  margin-bottom: var(--margin-bottom);
  gap: 10px;
}

p {
  font-size: var(--paragraph-font-size);
}

.card-header p {
  color: var(--paragraph-color);
}

.card-header svg {
  fill: var(--paragraph-color);
}

.card-foto {
  width: 250px;
  height: 250px;
  margin: 0 auto var(--margin-bottom);
  border-radius: 50%;
  overflow: hidden;
  border: 7px solid #ccc;
}

.card-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  margin-bottom: var(--margin-bottom);
  display: flex;
  flex-direction: column;
  align-items: var(--align);
  justify-content: var(--align);
  gap: var(--margin-bottom);
}

.card-content h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: var(--paragraph-align);
}

.card-content p {
  text-align: var(--align);
  color: var(--paragraph-color);
  line-height: 1.2;
}

.card-button {
  display: flex;
  align-items: var(--align);
  justify-content: var(--align);
}

.card-button a {
  text-decoration: none;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(69, 156, 250);
  color: white;
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  box-shadow: 0px 11px 14px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button a:hover,
.card-button a:focus,
.card-button a:active {
  background-color: rgb(69, 156, 250);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.card-footer {
  width: 100%;
  height: 120px;
  background-color: rgb(34, 47, 82);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-footer-list {
  /* padding: 20px 40px; */
  display: flex;
  align-items: var(--align);
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card-footer-item {
  display: flex;
  align-items: var(--align);
  justify-content: var(--align);
  gap: 10px;
  color: white;
  height: 100%;
  width: calc(100% / 3);
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid rgb(79, 79, 79);
}

.card-footer-item svg {
  fill: var(--svg-fill);
}

.card-footer-soc-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-footer-soc-info p {
  font-size: var(--paragraph-font-size);
}

.card-footer-soc-info p:first-child {
  color: var(--svg-fill);
}
